<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <filter>
  	<filter-name>Encoding</filter-name>
  	<filter-class>com.ericsson.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>

  <filter-mapping>
  	<filter-name>Encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>BookManageServlet</servlet-name>
    <servlet-class>com.ericsson.bookmanager.servlet.BookManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReaderInfoServlet</servlet-name>
    <servlet-class>com.ericsson.reader.servlet.ReaderInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookTypeServlet</servlet-name>
    <servlet-class>com.ericsson.book.servlet.BookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookSmallTypeServlet</servlet-name>
    <servlet-class>com.ericsson.book.servlet.BookSmallTypeServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>BookManageServlet</servlet-name>
    <url-pattern>/BookManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReaderInfoServlet</servlet-name>
    <url-pattern>/ReaderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookTypeServlet</servlet-name>
    <url-pattern>/BookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookSmallTypeServlet</servlet-name>
    <url-pattern>/BookSmallTypeServlet</url-pattern>
  </servlet-mapping>
</web-app>
